<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Rooster | Wake up to a text with the forecast | Cock-a-doodle-doo</title>
        <link rel="icon" type="image/jpg" href="/static/favicon.ico" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Wake up to a text with the forecast. Cock-a-doodle-doo.">

        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">

    </head>

    <body>

        <div class="container">

            <div class="row">
                <div class="span6 offset3" id="signup-area">

                    <div class="text-center">

                        <h1>Rooster</h1>
                        <h4>Wake up to a text message with the day's forecast.</h4>

                        <hr />
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class="unstyled">
                                {% for category, message in messages %}
                                  <li class="alert alert-{{ category }}">{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}

                    </div>

                    <form class="form" action="{{ url_for('homepage') }}" method="post">
                        <div class="row">
                            <div class="span4 offset1">
                                <h4>Your Info <small><a href="#faqModal" role="button" data-toggle="modal"><i class="icon-lock"></i></a></small></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1">
                                <input type="tel" class="span2" id="phone" name="phone" placeholder="Phone w country code" />
                                <span class="help-block">Phone (ie 1-440-321-0909)</span>
                            </div>
                            <div class="span2">
                                <input type="text" class="span2" id="location" name="location" placeholder="Location" />
                                <span class="help-block">Location (ie <span id="location-helper">02139</span>)</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="span4 offset1">
                                <h4>Wake Up Time <small>Only sent Mon - Fri</small></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span1 offset1">
                                <select class="span1" id="alarm-hour" name="alarm-hour">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7" selected>7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span class="help-block">Hour</span>
                            </div>
                            <div class="span1">
                                <select class="span1" id="alarm-minute" name="alarm-minute">
                                    <option value="00">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45" selected>45</option>
                                </select>
                                <span class="help-block">Minute</span>
                            </div>
                            <div class="span1">
                                <select class="span1" id="alarm-meridian" name="alarm-meridian">
                                    <option value="am" selected>AM</option>
                                    <option value="pm">PM</option>
                                </select>
                                <span class="help-block visible-phone">AM/PM</span>
                            </div>
                            <div class="span2">
                                <select class="span1 hidden" id="time-zone" name="time-zone">
                                    <option value="-10">-10:00 HAST</option>
                                    <option value="-9">-9:00</option>
                                    <option value="-8">-8:00 AKDT</option>
                                    <option value="-7">-7:00 PDT</option>
                                    <option value="-6">-6:00 MDT</option>
                                    <option value="-5">-5:00 CDT</option>
                                    <option value="-4">-4:00 EDT</option>
                                    <option value="-3">-3:00 ADT</option>
                                    <option value="-2">-2:00</option>
                                    <option value="-1">-1:00</option>
                                    <option value="+0">+0:00 GMT</option>
                                    <option value="+1">+1:00</option>
                                    <option value="+2">+2:00</option>
                                    <option value="+3">+3:00</option>
                                    <option value="+4">+4:00</option>
                                    <option value="+5">+5:00</option>
                                    <option value="+6">+6:00</option>
                                    <option value="+7">+7:00</option>
                                    <option value="+8">+8:00</option>
                                    <option value="+9">+9:00</option>
                                    <option value="+10">+10:00</option>
                                    <option value="+11">+11:00</option>
                                    <option value="+12">+12:00</option>
                                    <option value="+13">+13:00</option>
                                </select>  
                                <span class="help-block muted">
                                    GMT Offset: <span id="utc-helper">0</span>:00<br>
                                    <a href="#" id="manually-edit-offset">Edit</a>
                                </span>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="span1 text-center">
                                <h4><a href="#faqModal" role="button" data-toggle="modal">FAQ</a></h4>
                            </div>
                            <div class="span3 text-center">
                                <small class="muted hidden-phone">
                                    Built by <a href="http://blog.hartleybrody.com" target="_blank">Hartley Brody</a>.
                                    Image via <a href="http://www.flickr.com/photos/9242564@N07/6868613488/in/photostream/" target="_blank">Flickr</a>.<br>
                                    Powered by <a href="https://developer.forecast.io/" target="_blank">Forecast.io</a> and <a href="http://www.twilio.com/sms" target="_blank">Twilio</a>.
                                </small>
                            </div>
                            <div class="span2 text-center">
                                <input type="submit" class="btn btn-warning btn-large" value="Register &rarr;" />
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- Button to trigger modal -->

 
<!-- Modal -->
<div id="faqModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Frequently Asked Questions</h3>
    </div>
    <div class="modal-body">
        <h5>What kinds of messages will I get?</h5>
        <p class="hidden">
            The app will text you once a day with your local forecast. Here's an example:
            <blockquote style="font-size:0.9em" class="hidden">
                Currently 69, overcast for the hour. Rain starting this evening. High of 70 at 4pm.
            </blockquote>
        </p>
        <h5>Where in the world does this work?</h5>
        <p class="hidden">
            Theoretically, anywhere. The location information you provide is turned into latitiude/longitude using <a href="https://developers.google.com/maps/documentation/geocoding/" target="_blank">Google's Geocoding API</a>, and that information is then sent to <a href="https://developer.forecast.io/" target="_blank">Forecast.io</a> which aggregates weather reports from <a href="http://forecast.io/raw/" target="_blank">over a dozen sources</a>. Termperatures are all in Fahrenheit though, sorry.
        </p>
        <h5>How much does this cost?</h5>
        <p class="hidden">
            As with any SMS based service, your carrier may charge you for sending/receiving messages. We don't charge any fees though. If your plan includes unlimited texting, then we're totally free for you!
        </p>
        <h5>What if I want to unsubscribe or stop receiving messages?</h5>
        <p class="hidden">
            Simply reply to any of our messages with "STOP" and we'll immediately deactivate your account and stop sending you messages.
        </p>
        <h5>How do I update my location, wake up time, or timezone?</h5>
        <p class="hidden">
            Rooster App is entirely SMS based, so there's no need for logins or even providing an email! You can update your location, wake up time and timezone by texting them to us. Reply to any of our messages with "OPTIONS" to see the keywords you can use.
        </p>
        <h5>How can I view my current information?</h5>
        <p class="hidden">
            Text us with the word "STATUS" and we'll send you information about your account. Text us with the word "OPTIONS" and we'll explain all of the keywords you can use to update your account.
        </p>
        <h5>This is dumb. There are already a million apps that do this.</h5>
        <p class="hidden">
            Not really a question, but I'll take a stab at it. I built Rooster App as a fun project for myself, but also because I wanted to break out of the mold that says every new app needs to be delivered via web browser or smart phone. Tons of people in the world don't have smart phones or reliable internet access, but still have more basic things like email and SMS. Right now, this website is only used for signup &amp; FAQ, but I'm hoping to move all of that to be SMS based as well.
        </p>
        <h5>How do I find out more?</h5>
        <p class="hidden">
            The <a href="https://github.com/hartleybrody/rooster" target="_blank">code for Rooster App is entirely available on Github</a> for browsing, and I'm pretty <a href="https://twitter.com/hartleybrody/" target="_blank">easy to reach on Twitter</a>. If you think I'd be an asset to your team or project, shoot me an email at hartley.brody@gmail.com and I'd love to chat :)
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="/static/prepopulate.js"></script>
        <script>
        $(".modal-body h5").click( function(event){
            var $headline = $(event.target);
            var $paragraph = $headline.next("p");
            $paragraph.toggleClass("hidden");
            $paragraph.next("blockquote").toggleClass("hidden");
        });
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41551755-1', 'roosterapp.co');
          ga('send', 'pageview');

        </script>
        
    </body>
</html>