{% extends "base.html" %}
                {% block title %}Rooster | Wake up to a text with the forecast | Cock-a-doodle-doo{% endblock %}
                {% block content %}
                    <form class="form" action="{{ url_for('homepage') }}" method="post">
                        <div class="row">
                            <div class="span4 offset1">
                                <h4>Your Info <small><a href="#faqModal" role="button" data-toggle="modal"><i class="icon-lock"></i></a></small></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 offset1">
                                <input type="tel" class="span2" id="phone" name="phone" placeholder="Phone w country code" />
                                <span class="help-block">Phone (ie 1-440-321-0909)</span>
                            </div>
                            <div class="span2">
                                <input type="text" class="span2" id="location" name="location" placeholder="Location" />
                                <span class="help-block">Location (ie <span id="location-helper">02139</span>)</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="span4 offset1">
                                <h4>Wake Up Time <small>Only sent Mon - Fri</small></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span1 offset1">
                                <select class="span1" id="alarm-hour" name="alarm-hour">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7" selected>7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span class="help-block">Hour</span>
                            </div>
                            <div class="span1">
                                <select class="span1" id="alarm-minute" name="alarm-minute">
                                    <option value="00">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45" selected>45</option>
                                </select>
                                <span class="help-block">Minute</span>
                            </div>
                            <div class="span1">
                                <select class="span1" id="alarm-meridian" name="alarm-meridian">
                                    <option value="am" selected>AM</option>
                                    <option value="pm">PM</option>
                                </select>
                                <span class="help-block visible-phone">AM/PM</span>
                            </div>
                            <div class="span2">
                                <select class="span1 hidden" id="time-zone" name="time-zone">
                                    <option value="-10">-10:00 HAST</option>
                                    <option value="-9">-9:00</option>
                                    <option value="-8">-8:00 AKDT</option>
                                    <option value="-7">-7:00 PDT</option>
                                    <option value="-6">-6:00 MDT</option>
                                    <option value="-5">-5:00 CDT</option>
                                    <option value="-4">-4:00 EDT</option>
                                    <option value="-3">-3:00 ADT</option>
                                    <option value="-2">-2:00</option>
                                    <option value="-1">-1:00</option>
                                    <option value="+0">+0:00 GMT</option>
                                    <option value="+1">+1:00</option>
                                    <option value="+2">+2:00</option>
                                    <option value="+3">+3:00</option>
                                    <option value="+4">+4:00</option>
                                    <option value="+5">+5:00</option>
                                    <option value="+6">+6:00</option>
                                    <option value="+7">+7:00</option>
                                    <option value="+8">+8:00</option>
                                    <option value="+9">+9:00</option>
                                    <option value="+10">+10:00</option>
                                    <option value="+11">+11:00</option>
                                    <option value="+12">+12:00</option>
                                    <option value="+13">+13:00</option>
                                </select>  
                                <span class="help-block muted">
                                    GMT Offset: <span id="utc-helper">0</span>:00<br>
                                    <a href="#" id="manually-edit-offset">Edit</a>
                                </span>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="span1 text-center">
                                <h4><a href="#faqModal" role="button" data-toggle="modal">FAQ</a></h4>
                            </div>
                            <div class="span3 text-center">
                                <small class="muted hidden-phone">
                                    Built by <a href="http://blog.hartleybrody.com" target="_blank">Hartley Brody</a>.
                                    Image via <a href="http://www.flickr.com/photos/9242564@N07/6868613488/in/photostream/" target="_blank">Flickr</a>.<br>
                                    Powered by <a href="https://developer.forecast.io/" target="_blank">Forecast.io</a> and <a href="http://www.twilio.com/sms" target="_blank">Twilio</a>.
                                </small>
                            </div>
                            <div class="span2 text-center">
                                <input type="submit" class="btn btn-warning btn-large" value="Register &rarr;" />
                            </div>
                        </div>
                    </form>
                {% endblock %}